.homeContainer {
    --skill-width: 130px;
    
    section {
        padding: 2rem 0;

        button {
            font-size: 1.1rem;
            margin-top: 1rem;
            padding: .7rem 40px;
        }
    }

    .hero {
        max-width: 1200px;
        padding: 2rem 5%;
        margin: 2rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;

        div {

            h1 {
                white-space: nowrap;
                font-size: 5rem;
            }
        }

        .link {
            font-weight: 500;
            color: var(--color-200);
            text-decoration: underline;
        }
        
        .download { 
            margin-top: 1rem !important;
            display: inline-block;
            padding: .7rem 1.5rem;
            letter-spacing: 1px;
            background-color: var(--color-400);
            color: white;
            font-weight: 400;
            cursor: pointer;
            border-radius: 2px;
            transition: .2s;
            

            &:hover {
                background-color: transparent;
                color: var(--color-400);
                box-shadow: inset 0 0 0 1px  var(--color-400);
            }
        }

    }

    .skillsContainer {
        overflow: hidden;
        // background-color: green;
    }

    .skills {
        width: calc(var(--skill-width) * var(--skills) * 2);
        // overflow: hidden;
        display: flex;
        // gap: .7rem;
        animation: carroselSkills 10s linear infinite;
    }

    .cards {
        max-width: 1200px;
        margin: 3rem auto 0;
        padding: 2rem 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cardsContainer {
            width: 100%;
            gap: 2rem;
            display: flex;
            justify-content:center;
            flex-wrap: wrap;
        }
       .btn_view_more {
           margin-top: 2rem;
               background-color: var(--color-400);
                color: white;
                border-radius: 2px;

           &:hover {
                background-color: transparent;
                color: var(--color-400);
                box-shadow: inset 0 0 0 1px  var(--color-400);
           }
       }
    }

}

@media (max-width:800px) {
    .homeContainer {
        .hero {
            flex-direction: column-reverse;
            gap: 3rem;

            div h1 {
                font-size: 4rem;
            }
        }

        .cards {
            .cardsContainer {
                justify-content: center;
                
            }
        }
    }
}

@keyframes carroselSkills {
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(calc(-1 * var(--skill-width) * var(--skills)))
    }
}