* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}


:root {
    // purple
    .theme1 {
        --color-100: #FAF5FF;
        --color-200: #D6BCFA;
        --color-300: #B794F4;
        --color-400: #9F7AEA;
        --color-500: #553C9A;
        --color-600: #6B46C1;
        --color-900: #322659;
        --background: #0a0813;
    }
    // pink
    .theme2 {
        --color-100: #FFF5F7;
        --color-200: #FBB6CE;
        --color-300: #F687B3;
        --color-400: #ED64A6;
        --color-500: #D53F8C;
        --color-600: #B83280;
        --color-900: #521B41;
        --background: #14050e;
    }

    // ciano
    .theme3 {
        --color-100: #EDFDFD;
        --color-200: #9DECF9;
        --color-300: #76E4F7;
        --color-400: #0BC5EA;
        --color-500: #00B5D8;
        --color-600: #00A3C4;
        --color-900: #065666;
        --background: #010e11;
    }
    // azul
    .theme4 {
        --color-100: #EBF8FF;
        --color-200: #90CDF4;
        --color-300: #63B3ED;
        --color-400: #4299E1;
        --color-500: #3182CE;
        --color-600: #2B6CB0;
        --color-900: #1A365D;
        --background: rgb(12, 11, 17);
    }



    // purple
    .theme1.ligth-mode {
        --color-100: #0a0813;
        --color-200: #322659;
        --color-300: #6B46C1;
        --color-400: #9F7AEA;
        --color-500: #553C9A;
        --color-600: #B794F4;
        --color-900: #D6BCFA;
        --background: #FAF5FF;
    }
    // pink
    .theme2.ligth-mode {
        --color-100: #14050e;
        --color-200: #B83280;
        --color-300: #B83280;
        --color-400: #ED64A6;
        --color-500: #D53F8C;
        --color-600: #F687B3;
        --color-900: #D6BCFA;
        --background: #FFF5F7;
    }
    // ciano
    .theme3.ligth-mode {
        --color-100: #010e11;
        --color-200: #065666;
        --color-300: #00A3C4;
        --color-400: #0BC5EA;
        --color-500: #00B5D8;
        --color-600: #76E4F7;
        --color-900: #9DECF9;
        --background: #EDFDFD;
    }
    // azul
    .theme4.ligth-mode {
        --color-100: #0c0b11;
        --color-200: #1A365D;
        --color-300: #2B6CB0;
        --color-400: #4299E1;
        --color-500: #3182CE;
        --color-600: #63B3ED;
        --color-900: #90CDF4;
        --background: #EBF8FF;
    }
}

body {
    background-color: var(--background);
    color: var(--color-100);
}

body, textarea, input, button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    background-color: var(--color-400);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    transition: .2s;

    &:hover {
        background-color: var(--color-100);
        color: var(--background);
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}