.footerContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid var(--color-400);
    padding: 2rem calc(5% + 2rem);

    div {
        span {
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--color-150);
        }

        ul {
            list-style: none;
            margin-top: 1rem;

            li {
                color: var(--color-200);
                margin-top: .4rem;
                font-size: 1rem;
            }
        }
    }

    .disponivel {
        color: green;
    }

    .indisponivel {
        color: red;
    }

    .pulse {
        display: inline-block;
        background-color: rgb(0, 255, 0);
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-right: .5rem;

        animation: pulseElem .7s infinite;
    }

}

@media (max-width: 800px ) {
    .footerContainer {
        width: 100%;
        flex-direction: column-reverse;
        gap: 2rem;
        justify-content: flex-start;
        // align-items: center;
    }
}


@keyframes pulseElem {
    10% {   
        box-shadow: 0 0 0 2px green;
    }
    50% {
        box-shadow: 0 0 0 5px rgba(0, 128, 0, 0.76);
        opacity: .7;
    }
    75% {
        box-shadow: 0 0 0 7px rgba(0, 128, 0, 0.534);
        opacity: .5;
    }
    100% {
        opacity: .1;
        box-shadow: 0 0 0 10px rgba(0, 128, 0, 0.397);
    }
}