.ligth_mode {
    background-color: transparent;
    border-radius: 100%;
    color: var(--color-400);
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--color-900);
        box-shadow: 0 0 0 5px var(--color-900);
    }   
}